.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif
}

body {
  margin: 0 auto
}
.codeIde{
  display:flex;
}
.codeToCompile{
  width:70vw;
  height:70vh;
  background-color: lightgrey;
}
.codeToArrange{
  width:30vw;
  align-self: flex-start;
  gap: 10px;
  display: flex;
  flex-direction: column;
}
.codeSnippet[id="0"]{
  background-color: aliceblue;
  overflow: auto;
}
.codeSnippet[id="1"]{
  background-color:antiquewhite;
  overflow: auto;

}
.codeSnippet[id="2"]{
  background-color:lightblue;
  overflow: auto;

}
.codeSnippet[id="3"]{
  background-color:lightgreen;
  overflow: auto;
}
